/* .card{
    width: 70%;
    height: 70%;
} */
/* .handle{
    display: flex;
    flex-direction: column;
} */
/* .container{
    width: 50%;
    height: 50%;
   
} */
/* .img_data{
    width:100%;
    height: 40%;
} */
.imge{
    width:100%;
}